@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "تأكيد البريد الإلكتروني";
}

<div dir="rtl" style="font-size: 24px; font-weight: bold; text-align: right; margin-bottom: 20px;">
    @ViewData["Title"]
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
