@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تأكيد استعادة كلمة المرور";
}
<div style="color: #005E66; justify-content:end; direction:rtl;">
<h1>@ViewData["Title"]</h1>
<p>
    يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور.
</p>
</div>
