@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تأكيد إعادة تعيين كلمة المرور";
}
<style>
    .primary-color {
        color: #005E66;
    }
</style>

<div class="container" dir="rtl">
    <h1 class="primary-color text-center mb-4">@ViewData["Title"]</h1>
    <p class="primary-color">
        تم إعادة تعيين كلمة المرور الخاصة بك. يرجى <a asp-page="./Login">النقر هنا لتسجيل الدخول</a>.
    </p>
</div>
